.content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text {
  margin: 0;
  font-size: calc(12px + 3vmin);
}

.boxed {
  max-width: 80vmin;
  width: auto;
  overflow: hidden;
  margin: 0;
  padding: 20px;
  border: 2px solid #14161a;
  border-radius: 25px;
}

.header {
  margin: 0;
  padding: 0;
  font-size: calc(46px + 2vmin);
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
  line-height: 85%;
}

.textbox {
  width: 100%;
  margin: 0;
  padding: 6px;
  font-size: 20px;
}

.butt-basic {
  margin: 0;
  padding: 8px;
  font-size: calc(15px + 1vmin);
  color: #FFFFFF;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

.butt-basic:hover {
  cursor: pointer;
}

.butt {
  @extend .butt-basic;
  background-color: #282c34;
  border: 2px solid #14161a;
}

.butt:hover {
  background-color: #14161a;
}

.butt:active {
  background-color: #14161a;
}

.close {
  @extend .butt-basic;
  height: 30px;
  width: 30px;
  padding: 0;
  background-color: #ff5d52;
  border: 2px solid #802f29;
}

.close:hover {
  background-color: #802f29;
}

.close:active {
  background-color: #802f29;
}

.close svg {
  width: 26px;
  height: 26px;
}

.row-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sized-svg {
  width: 1em;
  height: 1em;
}

.sized-svg svg {
  width: 100%;
  height: 100%;
}